@import 'setup';

h1, h2, h3, p {
	margin: 0;
}

body{
	font-family: 'Droid Serif', arial, serif;
	text-align: center;
}
h2 {
	font-family: 'Droid Serif', arial, serif;
	font-size: 30px;
}
.hero {
	height: 100vh;
	background: url(i/warren-wong-323107.jpg);
	background-size: cover;
	.hero-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-content: center;
		.border-container {
			// border-top: 3px solid #fff;
			// border-bottom: 3px solid #fff;
			padding: 20px 0;
			margin-bottom: 50px;
			display: inline-block;
		}
		.border {
			display: inline-block;
			// width: 100%;
			background: #fff;
			height: 5px;
		}
	}
	h1 {
		letter-spacing: 3px;
		@include lato (50px, uppercase);
		margin: -10px;
	}
	.quiz {
		letter-spacing: 5px;
		font-size: 30px;
	}
	.start-container{
		position: relative;
		#start-button {
			position: absolute;
			left: 50%;
			margin-left: -18px;
			top: 50%;
			margin-top: -32px;
		}
	}
	.leaf {
		fill: #fff;
		background: none;
	}
	#start span {
		@include lato(16px, uppercase);
		position: absolute;
		left: 50%;
		margin-left: -24px;
		top: 50%;
		margin-top: -32px;
		letter-spacing: 1px;
		/* Color fallback */
		color: red;
	/*	-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;*/
	}
}
.hero .border-container :nth-child(2){
	// color: red;
	margin-bottom: -20px;
}
.hero .border-container :nth-child(3){
	color: red;
	margin-top: -20px;
}


.game-container {
	position: relative;
	.blade {
		height: 300px;
		background: rgba(0,128,128, 0.8);
		margin-top: -40px;
		transform: skewY(-20deg);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	.blade2 {
		height: 300px;
		background: rgba(199,21,133, 0.8);
		margin-top: -40px;
		transform: skewY(20deg);
		position: absolute;
		width: 100%;
	}
	.blade3 {
		height: 300px;
		background: purple;
		margin-top: -40px;
		transform: skewY(5deg);
		position: absolute;
		top: 10px;
		width: 100%;
	}
	.blade4 {
		height: 300px;
		background: goldenrod;
		margin-top: -40px;
		transform: skewY(-10deg);
		position: absolute;
		top: 10px;
		width: 100%;
	}
	.container {
		background: #fff;
		padding: 50px;
	}
	.card-container {
		margin: 25px 0;
		padding-bottom: 20px;
		background: #fff;
	}
	.card-header {
		padding: 20px;
		box-shadow: none;
		display: block;
	}
	input {
		margin: 10px 0;
		cursor: pointer;
	}
	label {
		font-family: 'Lato', sans-serif;
	}
	.option-container {
		padding: 20px;
	}
	.score-container {
		background: #2F4F4F;
		color: white;
		margin: 25px 0;
		padding: 20px 0;
		@include lato(16px, uppercase);
	}
}
.wrapper {
	max-width: 600px;
	margin: 0 auto;
}
.btn {
	border: none;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	background: purple;
	color: #fff;
	padding: 10px 25px;
	@include lato(16px, uppercase);
	position: relative;
}
.btn:hover,
.btn:focus {
	top: -3px;
	box-shadow: 0 3px 0 0 #FF1493;
}
#feedback {
	margin-bottom: 15px;
}
.epilogue {
	@include lato(10px, initial);
	color: slategray;
	.container {
		background: #fff;
		padding-bottom: 50px;
	}
	a {
		color: slategray;
		border-bottom: 1px dotted slategray;
	}
}

.hidden {
	display:none;
}

